/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.anchor {
  display: block; 
  position: relative; 
  top: -64px; 
  visibility: hidden;
}

hr {
  width: 50%;
}

.avatar {
  display: block;
  border-radius:200px;
  max-width: 180px;
  margin:0 auto;
  border:10px solid #3498db;
}
#code-backdrop {
  opacity: 0.95;
  width: 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.skill-icon {
  width: 5rem;
  height: 5rem;
}

#arduino-icon {
  width: 7.5rem;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 30%;
  }
}
.headline-text {
  min-height: 200px;
}

.social {
  margin: 0;
}
.social.item {
  display: inline-block;
  margin: 0 18px;
  line-height: 1em;
}
.social a {
  padding: 6px 8px 6px 9px;
  @include btn-cover;
}
.social a .label {
  display: none;
}
.social a .icon {
  display: block;
  font-size: 3.5em;
}

.social a:hover {
  color: $hover-color;
}
